* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    font-family: 'industry' , sans-serif;
    background: #1F2833;
}
nav {
    background: #1F2833;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 75px;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
}

@media only screen and (max-width:440px){
    nav .mainMenu li a {
        font-size: 0.8rem;}
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
    width: 10px;
    margin-top: -25px;
}

    

.main-image{
    margin-left: 35px;
    margin-right: 35px;
    
}


.container{
    color: white;
    z-index: 2;
    padding: 35px;
    border-style: groove;
    border-radius: 16px;
    border; 0.3px;
    background: #22354B;
    margin: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -100px;
    position: sticky;
    text-align-last: -webkit-center;
    text-align-last: center;
    align-self: center;
    align-self: -webkit-center;
}

@media only screen and (max-width:440px){
    .container{
        margin-top: 15px;
    }
    }


    .container h3{
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        
        
}

    .container p {
         display: block;
  margin-left: auto;
  margin-right: auto;
        line-height: 25px;
    text-align: justify;
        
        
    }
}

h1{
    font-weight: 500;
    
}

h3{
    font-weight: 300;
    border-bottom-style: groove;
    border-bottom: ;
}

.wrapper{
    display: flex;
}


.left{
     display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  color: yellow;
}

.right{
   display: block;
  margin-left: auto;
  margin-right: auto;
    padding-top: 15px;
    color: yellow;
}



@media only screen and (max-width:640px){
    .wrapper{
        display: block;
        align-content: center;
        font-weight: 360px;
    }
}




.api-title{
    padding: 20px;
}

.about-section{
    background: url(Screenshot%202021-04-01%20at%2021.11.41.png) no-repeat left;
    background-size: 60%;
    background-color: #1F2833;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 45%;
    float: right;
    background-color: #1F2833;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: whitesmoke;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 30px;
    }
}

.textformat{
    padding: 8%;
    color: white;
    margin: auto;
}

.textformat h1{
     color: ghostwhite;
     width: 100px;
}

.textformat p{
    font-weight: 360px;
}


.textformat h3{
    width: 200px;
}

.textformat img{
    margin-top: -100px;
    margin-bottom: -100px;
}


.contact img{
    margin-left: 30%;
    max-width: 33%;
    
}



















































